<!-- Navbar Start -->
    <!-- Barre newsletter-->
<div id="barre-newsletter">
    <p>Pour rester au courant des prochains stages et activités, rejoignez la NEWSLETTER Petite Nature <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/#abonnement-newsletter">en cliquant sur ce lien.</a></p>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-white navbar-light px-4 px-lg-5">
  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/" class="navbar-brand d-flex align-items-center">
    <img class="img-fluid" src="assets/img/accueil/leboisdelagrenouille-logo.png" alt="">
  </a>
  <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/" class="nav-item nav-link">Accueil</a>
          <div class="nav-item dropdown">
              <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/creations" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Créations</a>
              <div class="dropdown-menu bg-light m-0">
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/jeux" class="dropdown-item">Jeux</a>
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/objets-deco" class="dropdown-item">Objets déco</a>
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/jeux#grands-jeux-en-bois" class="dropdown-item">Grands jeux en bois
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/panneaux-sculptes" class="dropdown-item">Panneaux sculptés</a>
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/projets-personnalises" class="dropdown-item">Projets personnalisés</a>
              </div>
          </div>
          <!--<div class="nav-item dropdown">
            <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Le stage</a>
            <div class="dropdown-menu bg-light m-0">
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#sabriter" class="dropdown-item">S'abriter</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#cueillir" class="dropdown-item">Cueillir</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#faire-un-feu" class="dropdown-item">Faire un feu</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#cuisine-sauvage" class="dropdown-item">Cuisine Sauvage</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#le-groupe" class="dropdown-item">Le groupe</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#legerete" class="dropdown-item">Légèreté</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#itinerance" class="dropdown-item">Itinérance</a>
                <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/le-stage#ecologie-sensible" class="dropdown-item">Écologie sensible</a>
            </div>
          </div>-->
          <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/galerie-photos" class="nav-item nav-link">Galerie photos</a>
          <div class="nav-item dropdown">
              <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/a-propos" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">À propos</a>
              <div class="dropdown-menu bg-light m-0">
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/a-propos#qui-suis-je" class="dropdown-item">Qui-suis-je ?</a>
                  <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/a-propos#lieu" class="dropdown-item">Où me trouver</a>
              </div>
          </div>
          
          <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/#me-contacter" class="nav-item nav-link">Contact</a>
          <a href="https://www.facebook.com/people/Le-bois-de-la-grenouille/61566111029667/" class="nav-item nav-link" target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
  </div>
</nav>
<!-- Navbar End -->

    <!-- Navbar End -->
